.show-container {
  display: flex;
  width: 800px;
  margin: 0 auto;
  justify-content: space-between;
}

.item_info {
  background-color: white;
  box-shadow: 1px 1px 1px #dddddd;
  width: 300px;
}

.item_picture {
  background-color: white;
  box-shadow: 1px 1px 1px #dddddd;
  width: 300px;
}

.seller_info {
  background-color: white;
  box-shadow: 1px 1px 1px #dddddd;
  width: 300px;
}
