// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #FF6D3A;
$green: #85bb65;
$gray: #5E5E5E;
$light-gray: #F4F4F4;

$maroon: #772031;
$beige: #F2F4E7;
$grey: #5E5E5E;

