// Specific CSS for your home-page
.thumbnail {
  height: 300px;
  padding: 50px;
}

.jumbotron {
  // background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), url('banner.jpg'));
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.jumbotron-text {
  opacity: 1;
  color: white !important;
}
